@import "../../assets/scss/variable.scss";

.card {
  width: 200px;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 10px 40px -19px rgba(51, 23, 23, 0.35);
    transition: 0.2s;
  }

  &__image__container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 85px !important;
    height: auto;
  }
  &__name {
    font-size: 18px;
  }
}
